@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-rgb: 245, 245, 245;
  --background-rgb: 23, 23, 23;
}

body {
  margin: 0;
  padding: 0;
  color: rgb(var(--color-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
