@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-rgb: 245, 245, 245;
  --background-rgb: 23, 23, 23;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: rgb(var(--color-rgb));
  background: rgb(var(--background-rgb));
}

.scrollbar-none::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 0.125rem solid #888;
  border-radius: 0.125rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
} 

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.smooth-width {
  -webkit-transition: max-width 1s; 
  -moz-transition: max-width 1s; 
  -ms-transition: max-width 1s; 
  -o-transition: max-width 1s; 
  transition: max-width 1s;  
}

.smooth-height {
  -webkit-transition: max-height 1s; 
  -moz-transition: max-height 1s; 
  -ms-transition: max-height 1s; 
  -o-transition: max-height 1s; 
  transition: max-height 1s;  
}